
{% block content %}
    <div class="container mt-5">
        <h2>Your Order History</h2>

        {% if orders %}
            {% for order in orders %}
                <div class="card mb-3">
                    <div class="card-header">
                        Order Number: {{ order.id }}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Ordered Date: {{ order.date_ordered }}</h5>

                        {% for order_item in order.orderitem_set.all %}
                            <div class="row">
                                <div class="col-md-2">
                                    <img src="{{ order_item.product.imageURL }}" alt="{{ order_item.product.name }}" class="img-fluid">
                                </div>
                                <div class="col-md-6">
                                    <p>{{ order_item.product.name }}</p>
                                    <p>Quantity: {{ order_item.quantity }}</p>
                                    <p>Price: ${{ order_item.product.price }}</p>
                                </div>
                            </div>
                            <hr>
                        {% endfor %}

                        <p class="card-text">Total: ${{ order.get_cart_total }}</p>
                        <p class="card-text">Payment Status: {% if order.complete %}Paid{% else %}Pending{% endif %}</p>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>No order history available.</p>
        {% endif %}
    </div>
{% endblock %}
